body{
    font-family: 'Titillium Web', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
}

.todo-cursor{
    cursor:pointer;
}

ul li.nav-item{
    display: inline-block;
    padding-right: 10px;
    cursor:pointer;
}

.datapanel{
    background-color: lightgreen;
}

.grid{
    display:grid;
}

.grid > div{
    padding: 1em;
}

.grid-1{
    grid-template-columns: 100%;
}

.grid-2{
    grid-template-columns: 50% 50%;
}

.grid-3{
    grid-template-columns: 33% 33% 34%;
}

.todo-cursor{
    cursor: pointer;
}

.todo-underline{
    text-decoration: underline;
}

.todo-content-header{
    text-align:center;
    text-transform:uppercase;
}

.todo-button{
    padding: 5px 10px;
    background-color: green;
    color: white;
    width: 75px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.todo-button:hover{
    background-color: #00c500;
}

input{
    font-family: 'Titillium Web', sans-serif;
    min-width: 200px;
}

.input-wrap{
    margin-bottom: 10px;
}

.input-wrap label{
    display:block;
}

.input-wrap input{
    padding: 5px;
}

@media only screen and (min-width: 1200px) {
    .grid > div{
        padding: 0.5em;
    }
}
