<template>
    <div class="">
        <h1>Welcome to TODO</h1>
        <div class="todo-center" v-if="loginView == true">
            <h2>Login</h2>

            <div class="input-wrap">
                <label>Username</label>
                <input type="text" v-model="username">
            </div>

            <div class="input-wrap">
                <label>Password</label>
                <input type="password" v-model="password">
                <div class="todo-button" v-on:click="loginUser">submit</div>
            </div>
            
            <div>
                Don't have account yet? <i class="todo-cursor todo-underline" v-on:click="toggleRegister">Register</i>
            </div>

        </div>
        <div class="todo-center" v-else>
            <h2>Create new account</h2>
            <div class="input-wrap">
                <label>Username</label>
                <input type="text" v-model="username">
            </div>
            
            <div class="input-wrap">
                <label>Password</label>
                <input type="password" v-model="password">
            </div>

            <div class="input-wrap">
                <label>Password again</label>
                <input type="password" v-model="passwordAgain">
                <div class="todo-button" v-on:click="registerUser">submit</div>
            </div>
            
            <div>
                Already have account ? <i class="todo-cursor todo-underline" v-on:click="toggleRegister">Login</i>
            </div>
        </div>
    </div>
    
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'kps-register',
    created(){
        if(this.jwt != null){
            this.loginView = true;
            this.$store.commit('navigation/currentPage', 'todo');
        }
    },
    data() {
        return {
            loginView: true,
            username: '',
            password: '',
            passwordAgain: ''
        }
    },
    computed: mapGetters({
        jwt: 'user/jwt'
    }),
    methods: {
        toggleRegister: function(){
            this.username = '';
            this.password = '';
            this.passwordAgain = '';
            this.loginView = this.loginView == false ? true : false;
        },
        loginUser: function(){
            this.$store.dispatch('user/LOGIN', {name: this.username, password: this.password});
        },
        registerUser: function(){
            this.$store.dispatch('user/REGISTER', {name: this.username, password: this.password, passwordAgain: this.passwordAgain})
            .then(()=>{
                this.passwordAgain = '';    
                this.loginView = true;
            })
        }
    }
}
</script>


