<template>
    <footer class="grid grid-3">
        <div>
            <div v-if="user" v-on:click="logout" class="logout">
                <i class="fas fa-sign-out-alt"></i> LOGOUT
            </div>
        </div>
    </footer>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'todo-footer',
    methods:{
        logout(){
            this.$store.commit('user/logout');
        }
    },
    computed: mapGetters({
        user: 'user/jwt'
    })
}
</script>

<style scoped>
    .logout:hover{
        cursor: pointer;
        color: red;
    }
</style>

