<template>
    <header>
        <div class="logo">
            <i class="fas fa-list-ul"></i> TODO
        </div>
        <div class="grid grid-3 navigation">
            <div v-if="user" v-bind:class="{ selected: view == 'todo' }" v-on:click="changePage('todo')">
                <i class="fas fa-times-circle"></i> Todo
            </div>
            <div v-if="user" v-bind:class="{ selected: view == 'done' }" v-on:click="changePage('done')">
                <i class="fas fa-check-circle"></i> Done
            </div>
            <div v-if="user" v-bind:class="{ selected: view == 'new' }" v-on:click="changePage('new')">
                <i class="fas fa-plus-circle"></i> New task
            </div>
        </div>
        <todo-message></todo-message>
    </header>
</template>

<script>
import messages from './Message.vue'
import { mapGetters } from 'vuex';
export default {
    name: 'todo-header',
    components:{
        'todo-message': messages
    },
    methods:{
        changePage(page){
            this.$store.commit('navigation/currentPage', page)
            this.$store.commit('user/message', '')
        }
    },
    computed: mapGetters({
        view: 'navigation/currentPage',
        user: 'user/jwt'
    })
}
</script>

<style scoped>

header{
    text-align: center;
    font-size: 20px;
}

header .logo{
    font-size: 35px;
}

.logo .fas{
    font-size: 25px;
}

header .navigation{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: green;
    color: white;
    border-bottom: 1px solid black;
    min-height: 70px;
}

header .navigation div:hover{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    background-color: #02ab02;
}

header .navigation div.selected{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #02ab02;
    cursor: pointer;
}

.navigation div{
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    header{
        font-size: 16px;
    }
    header .navigation{
        min-height: 60px;
    }
}

</style>
