<template>
    <div class="message-wrap">
        
        <div class="message" v-if="message" v-bind:class="{ success: message.success }">
            <i v-on:click="removeMessage" class="fa fa-window-close close"></i>
            {{message.content}}
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'todo-message',
    computed: mapGetters({
        message: 'user/message'
    }),
    methods:{
        removeMessage(){
            this.$store.commit('user/removeMessage');
        }
    }
}
</script>

<style scoped>
    .close:hover{
        cursor:pointer;
        color: #d2d2d2;
    }
    header .message-wrap{
        min-height: 30px;
    }
    header .message{
        background-color: #ffaaaa;
        color: white;
        text-align:left;
        padding-left: 10px;
    }
    header .message.success{
        background-color: #00c00c;
    }
</style>
