<template>
    <div v-bind:class="{ active: selected && selected.id == task.id }"  class="task-wrap" v-on:click="selectedTask(task.id)">
        <div class="task-block">
            <h3>{{task.name}}</h3>
            <div class="task-content">
                <p><b>due to:</b> {{task.due_to | truncate(10, '') || 'not set'}}</p>
                <i><b>description:</b> {{task.description | truncate(15, '...')}}</i>
            </div>
        </div>
        
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'todo-task',
    props: ['task'],
    computed: mapGetters({
        selected: 'todo/selectedTask',
    }),
    methods:{
        selectedTask(task_id){
            this.$store.commit('todo/selectedTask', task_id)
        }
    }
}
</script>

<style scoped>
h3{
    background-color: green;
    color: white;
    padding-left: 5px;
    margin:0px;
    border-bottom: 2px dotted #45a945;
}
.task-wrap:hover{
    background-color: #e4f4ff;
    cursor:pointer;
}
.active{
    background-color:#cceaff;
}

.task-content{
    padding: 0px 0px 15px 10px;
    display: none;
}
.task-block:hover .task-content{
    display: block;
}
.task-wrap.active .task-block .task-content{
    display: block;
}

@media only screen and (max-width: 900px) {
.task-content{
    font-size:14px;
}
.task-content p{
    margin: 10px 0px 0px 0px;
}
}
</style>
