<template>
    <div>
        <div class="todo-content-header">
            <h2>Create new task</h2>
        </div>
        <div class="grid grid-2">
            <div class="inputs">
                <div class="input-wrap">
                    <label>Name:</label>
                    <input placeholder="Task name" v-model="task.name" type="text">
                </div>
                
                <div class="input-wrap">
                    <label>Description:</label>
                    <textarea placeholder="Task description" v-model="task.description" type="text"></textarea>
                </div>
                
                <div class="input-wrap"> 
                    <label>Due to:</label>
                    <datepicker v-model="task.dueTo" :monday-first="true" format="yyyy-MM-dd"></datepicker>
                </div>

                <span v-on:click="save()" class="todo-button"><i class="fas fa-plus-circle"></i> Create task</span>
                
            </div>
            <div>
                <h3 v-if="created.length > 0">Task created:</h3>
                <ol>
                    <li v-for="task in created">{{task}}</li>
                </ol>
            </div>
        </div>
        
        
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
export default {
    name: 'todo-new',
    components:{
        Datepicker
    },
    data(){
        return {
            task:{
                name: "",
                description: "",
                dueTo: "",
            },
            created: []
        }
    },
    methods:{
        save(){
            const dueto = this.task.dueTo ? this.task.dueTo.toDateString() : null
           
            const data = {
                name: this.task.name,
                description: this.task.description,
                dueTo: dueto
            }
            this.$store.dispatch('todo/SAVE', data)
            .then((res) => {
                console.log(res);
                if(data.name != ''){
                    this.created.push(data.name);
                }
                this.clear();
            })
            .catch(() => {});
        },
        clear(){
            this.task.name = "";
            this.task.description = "";
            this.task.dueTo = "";
        }
    }
    
}
</script>

<style scoped>
.inputs div{
    margin-top: 10px;
}
.inputs p{
    margin-bottom: 0;
}
.vdp-datepicker{
    margin-top: 0px !important;
    min-width: 200px;
}

textarea{
    width: 200px;
    height:50px;
}

</style>
