<template>
    <div v-if="pageCount > 1" class="page-selector">
        <i v-on:click="changePage(-1)" class="fas fa-chevron-left"></i>
        {{pageNumber}} / {{pageCount}}
        <i v-on:click="changePage(1)" class="fas fa-chevron-right"></i>
    </div>
</template>

<script>
export default {
    computed: {
        
    },
    props:['currentPageNumber', 'pageCount'],
    data: function () {
        return {
            pageNumber: this.currentPageNumber
        }
    },
    methods: {
        changePage(value){
            if( this.pageNumber > 1 && value === -1)
                this.pageNumber += value;
            
            if( this.pageNumber < this.pageCount && value === 1)
                this.pageNumber += value
            
            this.$parent.$emit('changePage', this.pageNumber);

        }
    }
}
</script>

<style scoped>
.page-selector{
    text-align:center;
}

.fa-chevron-right, .fa-chevron-left{
    padding: 0px 10px;
    cursor:pointer;
}
</style>
