<template>
    <div class="sort-wrap">
        <div class="sort-title">
            Sort by:
        </div>
        <span v-bind:class="{ 'active': filter == 'createdAt' }" class="sort-button" v-on:click="sortTasks('createdAt')">Created at</span>
        <!--
        <span v-bind:class="{ 'active': filter == 'due_to' }" class="sort-button" v-on:click="sortTasks('due_to')">Due to</span>
        -->
        <span v-bind:class="{ 'active': filter == 'name' }" class="sort-button" v-on:click="sortTasks('name')">Name</span>
    </div>
</template>

<script>
export default {
    props: ['filter'],
    data: function(){
        return {
            selectedFilter: 'createdAt'
        }
    },
    methods: {
        sortTasks(value){
            this.selectedFilter = value
            this.$parent.$emit('changeFilter', value);
        }
    }
}
</script>

<style scoped>
.sort-wrap .sort-button{
    padding: 5px 10px;
    background-color: green;
    color: white;
    width: 26%;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.sort-button:hover{
    background-color: limegreen;
}

.sort-button.active{
    background-color: #169fff
}
.sort-button.active:hover{
    background-color: #169fff
}

.sort-title{
    text-align: left;
    padding-left: 15px;
}
</style>
