<template>
    <div>
        <div class="tasks-block">

            <todo-sortby v-if="taskCount > 1" v-bind:filter="filter"></todo-sortby>

            <div v-for="task in pagedTasks">
                <todo-task v-bind:task="task"></todo-task>
            </div>

            <div v-if="tasks.length == 0">No tasks available</div>
        </div>

        <todo-pagination v-bind:currentPageNumber="currentPageNumber" v-bind:pageCount="pageCount"></todo-pagination>

    </div>
</template>

<script>
import { mapGetters } from 'vuex';

import Task from './ListTask.vue';
import SortBy from './SortBy.vue';
import Paginator from './Paginator.vue';


export default {
    name: 'todo-tasklist',
    components:{
        'todo-task': Task,
        'todo-pagination': Paginator,
        'todo-sortby': SortBy
    },
    created(){
        this.filter = 'createdAt';
        this.$on('changePage', pageNumber => {
            this.currentPageNumber = pageNumber;
        });
        this.$on('changeFilter', filter => {
            this.filter = filter
            this.sortTasks()
        });
    },
    data(){
        return {
            filter: 'createdAt',
            pageSize: 5,
            currentPageNumber: 1
        }
    },
    computed:{
        ...mapGetters({
            todo: 'todo/todo', 
            done: 'todo/done', 
            page: 'navigation/currentPage'
        }),
        tasks(){
            return this.page == 'todo' ? this.todo : this.done;
        },
        taskCount(){
            return this.tasks.length;
        },
        pageCount(){
            return Math.ceil(this.taskCount / this.pageSize);
        },
        pagedTasks(){
            const first = (this.currentPageNumber -1 ) * this.pageSize;
            const last = first + this.pageSize;
            return this.sortTasks().slice(first, last);
        }
    },
    methods: {
        sortTasks(){
            const filterBy = this.filter;
            const tasks = this.page == 'todo' ? this.todo : this.done;

            return tasks.sort( (a, b) => {
                if(a[filterBy] < b[filterBy]) 
                    return -1;
                
                if(a[filterBy] > b[filterBy]) 
                    return 1;

                return 0;
            });
        }
    }

}
</script>

<style scoped>
.sort-wrap{
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 20px;
}

.task-content{
    padding-left: 5px;    
}
.task-content:nth-child(odd){
    background-color: whitesmoke;
}
.todo-list{
    max-height:500px;
    
    overflow: auto;
}

.tasks-block{
    min-height: 350px;
}

@media only screen and (max-width: 900px) {
.sort-wrap .sort-button{
    width: auto;
    display:block;
}
}

</style>
