<template>
    <div>
        <h3>{{selected.name || '-'}}</h3>
        <div class="actions" v-if="selected.finished == null">
            <span v-on:click="finishTask(selected.id)" class="buttonspan todo-cursor"><i class="finish fas fa-check-circle"></i> Ready</span>
            <span v-on:click="deleteTask(selected.id)" class="buttonspan todo-cursor"><i class="delete fa fa-trash"></i> Delete</span>
        </div>
        <p><b>Description:</b> {{selected.description || '-'}}</p>
        <p><b>Created at:</b> {{selected.createdAt  | truncate(10, '')  || '-'}}</p>
        <p><b>Due to:</b> {{selected.due_to | truncate(10, '') || '-'}}</p>
        <p><b>Finished:</b> {{selected.finished | truncate(10, '') || '-'}}</p>
    </div>
</template>

<script>
export default {
    props: ['selected'],
    methods:{
        finishTask(taskId){
            this.$store.dispatch('todo/FINISH', taskId );
        },
        deleteTask(taskId){
            this.$store.dispatch('todo/DELETE_TASK', taskId );
        }
    }
}
</script>

<style scoped>
h3{
    text-transform: uppercase;
}
.finish{
    cursor:pointer;
    color: green;
    background-color: white;
    border-radius: 25px;
}
.delete{
    cursor:pointer;
    color: red;
    margin-left: 10px;
}

.buttonspan{
    padding: 2px 5px;
}

.buttonspan:hover{
    background-color: #dedede;
}

.actions{
    padding: 3px 10px;
    background-color: whitesmoke;
}
</style>
