<template>
    <div>
        <div class="todo-content-header">
            <h2>{{page}}</h2>
        </div>
        
        <div class="grid grid-2">
            <todo-tasklist></todo-tasklist>
            <todo-taskdetails v-if="selected" v-bind:selected="selected"></todo-taskdetails>
        </div>
    </div>
    
</template>

<script>
import { mapGetters } from 'vuex';
import tasklist from './Tasklist.vue'
import taskdetails from './TaskDetails.vue'

export default {
    components: {
        'todo-tasklist': tasklist,
        'todo-taskdetails': taskdetails
    },
    created(){
        if(this.page == 'todo' || this.page == 'done')
            this.$store.dispatch('todo/GET_TASKS', this.page);
    },
    computed: mapGetters({
            todo: 'todo/todo',
            done: 'todo/done',
            selected: 'todo/selectedTask',
            page: 'navigation/currentPage'
    }),
    watch:{
        page(){
            this.$store.commit('todo/selectedTask', null);
            this.$store.dispatch('todo/GET_TASKS', this.page);
        }
    }
}
</script>

<style scoped>



.tasklist{
    max-height:500px;
    overflow: auto;
}
</style>
