<template>
    <div class="wrap">
        <todo-login></todo-login>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Login from './../components/user/Login';

export default {
    components: {
        'todo-login': Login,
    },
}
</script>
