<template>
    <div class="wrap">
        <todo-todo v-if="currentPage == 'todo' || currentPage == 'done'"></todo-todo>
        <todo-new v-if="currentPage == 'new'"></todo-new>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Login from './../components/user/Login';
import Todo from './../components/main/Todo';
import New from './../components/main/New';


export default {
    components: {
        'todo-login': Login,
        'todo-todo': Todo,
        'todo-new': New
    },
    computed: mapGetters({
        currentPage: 'navigation/currentPage'
    }),
}
</script>
