<template>
  <div class="container">
    <todo-header></todo-header>
    <todo-main v-if="page == 'login'"></todo-main>
    <todo-todo v-if="page == 'todo'"></todo-todo>
    <todo-footer></todo-footer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Main from './pages/Main.vue';
import Todo from './pages/Todo.vue';
import Header from './components/common/Header.vue'
import Footer from './components/common/Footer.vue'

export default {
  components:{
    'todo-main': Main,
    'todo-todo': Todo,
    'todo-header': Header,
    'todo-footer': Footer
  },
  created(){
    const jwt = localStorage.getItem('todojwt');
    if(jwt){
      if(jwt == "null" || jwt == null){
        this.$store.commit('user/jwt', null)
      }
    }
  },
  computed: {
    ...mapGetters({
      currentPage: 'navigation/currentPage'
    }),
    page(){
      return this.currentPage == 'login' ? 'login' : 'todo';
    }
  }
    
  
}
</script>

<style scoped>
@media only screen and (min-width: 1200px) {
.container{
    width: 60%;
    margin: 0 auto;
}
}
</style>


